@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(75deg, #1b18f0 0%, #59ffbd 50%, #ffff19 100%);
}
nav {
  position: relative;
  display: flex;
  flex-direction: column;
}
nav a {
  text-align: center;
  text-decoration: none;
}
nav a span {
  color: #333; /* Cor padrão do texto*/
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
nav:hover a span {
  color: #0002; /*Cor do texto quando o mouse estiver em cima de outra opção*/
}
nav a:hover span {
  color: #000;
  background: rgba(0, 0, 0, 0.03); /* background do texto quando o mouse estiver em cima*/
  border-radius: 50%;
}
nav a span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}
nav a span:hover:before {
  content: attr(data-texto);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
nav a:nth-child(6n + 1) span:before {
  background-image: linear-gradient(62deg, #018dff 0%, #00c8ff 100%);
}
nav a:nth-child(6n + 2) span:before {
  background-image: linear-gradient(57deg, #00fefe 0%, #fafa8e 100%);
}
nav a:nth-child(6n + 3) span:before {
  background-image: linear-gradient(34deg, #ff5959 0%, #ffb641 100%);
}
nav a:nth-child(6n + 4) span:before {
  background-image: linear-gradient(29deg, #a3ff65 0%, #fff83a 100%);
}